html, body {
    margin: 0%;
    padding: 0%;

    height: 100vh;
    width: 100vw;
}

* {
    margin: 0%;
    padding: 0%;

    color: white;

    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

body > * {
    padding: 0rem 1rem;
}

.header {
    background-color: rgb(15, 27, 37);

    --paddingTnB: 0.5rem;
    padding-top: var(--paddingTnB);
    padding-bottom: var(--paddingTnB);

    display: grid;
    grid-template-columns: max-content 1fr auto;
    grid-template-areas: "L . N";

    --borderCol: rgb(8, 135, 194);
    border-bottom: 0.3rem solid var(--borderCol);
}

.logo {
    grid-area: L;

    background: linear-gradient(
            to right, #f32170, violet, aqua);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-family: 'Kanit', sans-serif;
}

.newBtn {
    grid-area: N;

    padding: 0.5rem 1.5rem;

    border-radius: 0.5rem;
    
    font-size: 1rem;
    color: #cfb482;
    --textGlowCol: #d8971d;
    text-shadow: 0rem 0rem 2px var(--textGlowCol);

    border: 0.2rem solid black;
    border-top-color: rgb(190, 110, 44);
    --borderColLnR: rgb(151, 74, 29);
    border-left-color: var(--borderColLnR);
    border-right-color: var(--borderColLnR);
    border-bottom-color: rgb(85, 44, 34);
    background-color: rgb(141, 60, 40);

    transition: 100ms;
}
.newBtn:hover {
    scale: 102%;
    border-top-color: rgb(238, 175, 123);
    --borderColLnR: rgb(168, 83, 34);
    background-color: rgb(153, 65, 42);
    --textGlowCol: #f1ac2a;
    color: #e9d1a5;
}
.newBtn:active {
    scale: 99%;
}

.library {
    --libBgCol: rgb(26, 42, 63);
    background-color: var(--libBgCol);

    --paddingTnB: 1rem;
    padding-top: var(--paddingTnB);
    padding-bottom: var(--paddingTnB);

    overflow: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    gap: 2rem 1rem;

    transition: 1s;
}

.book {
    background-color: rgb(47, 77, 90);

    position: relative;

    padding: 1rem 1rem;
    aspect-ratio: 1/1.35;

    border-radius: 0.1rem;
}

.book-title {
    margin-bottom: 0.2rem;
}
.book-author {
    margin-bottom: 0.7rem;
}
.book-close {
    position: absolute;
    top: 0%;
    right: 0%;

    fill: rgb(170, 168, 168);
    
    scale: 40%;
    transform-origin: 100% 0%;

    border: 7px solid transparent;
    border-top: none;
    border-right: none;
    border-radius: 0rem 0rem 0rem 70%;

    transition: 100ms;
}
.book-close:hover {
    fill: rgb(39, 39, 39);
    background-color: #f32f21b6;
    scale: 45%;
}
.book-close:active {
    border-width: 20rem;
}
.read-toggle {
    color: #f32170;
    border: 2px solid #f32170;
    background-color: transparent;
    padding: 0.2em;
    border-radius: 0.3em;
    transition: 100ms;
}
.read-toggle.read {
    color: var(--libBgCol);
    background-color: #f32170;    
}
.read-toggle:hover {
    border-color: white;
    color: white;
}
.read-toggle.read:hover {
    background-color: white;
    color: var(--libBgCol);
}


.footer {
    background-color: rgb(34, 35, 37);

    --paddingTnB: 0.3em;
    padding-top: var(--paddingTnB);
    padding-bottom: var(--paddingTnB);

    display: grid;
    grid-template-columns: 1fr max-content;
}
.footer * {
    color: rgb(228, 228, 228);
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    width: max-content;
}

.attribution a {
    color: rgb(0, 238, 255);
    text-decoration: none;
}
.attribution a:hover {
    text-decoration: underline;
}

.prompt-wrapper {
    position: fixed;
    padding: 0%;
    z-index: 1;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.5);

    display: grid;
    place-content: center;
}

.prompt-container {
    background-color: #cfb482;

    padding: 1rem;
    border-radius: 1rem;

    position: relative;

    display: grid;
    gap: 0.5rem;
    justify-items: center;
}

.prompt-container * {
    color: black;
}

.prompt-container>form {
    display: grid;
    gap: 0.5rem;
}

.form-block {
    display: grid;
}

.form-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formBtn {
    justify-self: right;
}

.cancelBtn {
    position: absolute;
    top: 0%;
    right: 0%;

    fill: rgb(10, 10, 10);
    
    scale: 50%;

    border: 7px solid transparent;
    border-radius: 70%;

    transition: 100ms;
}
.cancelBtn:hover {
    fill: rgb(39, 39, 39);
    background-color: #f32f21b6;
}
.cancelBtn:active {
    /* border-width: 20rem; */
}